*, *:before, *:after {
	outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	font-style: normal;
}

.container {
	margin: 0 auto;
	padding: 0 150px 150px;
}

fieldset {
	margin-top: 30px;
}

label {
	margin-top: 10px;
	display: block;
}

.input-lg {
	width: 100%;
	height: 40px;
	color: #039;
	font-style: italic;
	padding: 5px;
	border-top: none;
	border-right: none;
	border-bottom: 1px dotted;
	border-left: none;
}

.btn {
	background-color: #CCC;
	margin-top: 10px;
	float: right;
	font-weight: bold;
	padding: 10px;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background-color: #DDD;
	box-shadow: 2px 2px #AAA;
}

.table-denuncias {
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border: 2px solid #888;
}

.table-denuncias th {
	font-weight: normal;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	border-bottom: 1px dashed #888;
	padding: 12px 17px;
}

.table-denuncias td {
	color: #333;
	padding: 7px 17px;
}

.table-denuncias tbody tr:hover td {
	color: #333;
	background: #F0F0F0;
}