/* Template for the items in the ListViews in this sample */
.smallListIconTextItem {
	width: 100%;
	height: 70px;
	padding: 5px;
	overflow: hidden;
}

.smallListIconTextItem img.smallListIconTextItem-Image {
	width: 60px;
	height: 60px;
	margin: 5px;
	float: left;
	margin-right: 20px;
}

.smallListIconTextItem .smallListIconTextItem-Detail {
	margin: 5px;
}

.listLayoutTopHeaderTemplateRoot, .gridLayoutLeftHeaderTemplateRoot {
	font-size: larger;
	margin-left: 16px;
}

/* CSS applied to the ListViews in this sample */

#listView {
	height: 280px;
}